/* header */

body {
    background-color: #ffeedf;
    font-family: 'Space Grotesk', sans-serif;
   
}

header {
    width: 100%;
    height: 60px;
    padding: 0px 9px;
    border-bottom: 1px solid #145434;

    position: fixed;
    top: 0;
    z-index: 100;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffeedf;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: #145434;
}

header span {
    font-size: 36px !important;

    color: #145434;
    cursor: pointer;

}

/* beer cards section */

.beer-cards-section {
    max-width: 1200px;
    padding: 0 30px;
    margin: 120px auto;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.beer-card {
    width: 400px;
    min-height: 250px;
    padding: 40px;

    position: relative;
    background-color: #145434;
}

.index {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #145434;
    
    position: absolute;
    top: -20px;
    left: -20px;
    
    color: #145434;
    background-color: #ffeedf;
    font-size: 24px;
    text-align: center;   
    line-height: 35px;
}

.beer-card p {
    color: #ffeedf;
}


.beer-name {
    min-height: 98px;

    border-bottom: 1px solid #ffeedf;
    margin-bottom: 9px;
    
    font-size: 36px;

}

.beer-brewery {
    font-size: 18px;
    font-weight: 400;
}

.beer-flavour {
    font-size: 18px;
    font-weight: 700;
}

.details-btn {
    width: 200px;
    height: 50px;

    position: absolute;
    right: -10px;
    bottom: -10px;

    border: 2px solid #145434;
    color: #145434;
    background-color: #ffeedf;
    font-size: 14px;
}

.details-btn:hover {
    border: 2px solid #ffeedf;
    color: #ffeedf;
    background-color: #145434;
}

.details-btn span {
    font-size: 34px;
    position: absolute;
    right: 3px;
    bottom: 6px;
}

@media screen and (max-width: 441px){
    .beer-card {

    }

    .beer-name {
        max-height: 157px;
        padding-bottom: 7px;
    }
    .beer-flavour {
        margin-bottom: 10px;
    }

}
